<h1>New Task</h1>

<%= render partial: "form", locals: {task: @task} %>

<hr>

<%= link_to ('<i class="fa-solid fa-clock-rotate-left"></i> Back to list').html_safe, tasks_path, class: 'text-decoration-none' %>
